################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples/PISystem/CSharp/GSharp.PythonRegressionAnalysis/.vs/GSharp.PythonRegressionAnalysis/CopilotIndices/17.14.1290.42047
/Samples/PISystem/CSharp/GSharp.PythonRegressionAnalysis/.vs/GSharp.PythonRegressionAnalysis/FileContentIndex
/Samples/PISystem/CSharp/GSharp.PythonRegressionAnalysis/GSharp.PythonRegressionAnalysis/obj/Debug
/Samples/PISystem/CSharp/GSharp.PythonRegressionAnalysis/GSharp.Testbed/obj/Debug
/Samples/PISystem/CSharp/GSharp.PythonRegressionAnalysis/.vs/GSharp.PythonRegressionAnalysis/v17
/Samples/PISystem/CSharp/GSharp.PythonRegressionAnalysis/.vs/GSharp.PythonRegressionAnalysis/CopilotIndices/17.14.1431.25910/CodeChunks.db
/Samples/PISystem/CSharp/GSharp.PythonRegressionAnalysis/.vs/GSharp.PythonRegressionAnalysis/CopilotIndices/17.14.1431.25910/SemanticSymbols.db
/Samples/PISystem/VB.NET/GSharp.PythonRegressionAnalysis/.vs/GSharp.PythonRegressionAnalysis/CopilotIndices/17.14.1431.25910
/Samples/PISystem/VB.NET/GSharp.PythonRegressionAnalysis/packages/System.Reflection.Emit.4.3.0/ThirdPartyNotices.txt
/Samples/PISystem/VB.NET/GSharp.PythonRegressionAnalysis/packages/System.Reflection.Emit.4.3.0/dotnet_library_license.txt
/Samples/PISystem/VB.NET/GSharp.PythonRegressionAnalysis/.vs/GSharp.PythonRegressionAnalysis/FileContentIndex
/Samples/PISystem/VB.NET/GSharp.PythonRegressionAnalysis/GSharp.Testbed/obj/Debug
/Samples/PISystem/VB.NET/GSharp.PythonRegressionAnalysis/GSharp.Testbed/.vs
/Samples/PISystem/VB.NET/GSharp.PythonRegressionAnalysis/GSharp.PythonRegressionAnalysis/.vs
/Samples/PISystem/VB.NET/GSharp.PythonRegressionAnalysis/packages
/Samples/PISystem/VB.NET/GSharp.PythonRegressionAnalysis/.vs/GSharp.PythonRegressionAnalysis/v17
